body {
  font-family: "Nunito", sans-serif;
}

#chat-container {
  max-width: 600px;
  margin: 30px auto;
}

#chat-window {
  padding: 14px 0;
  margin: 0 20px;
  color: #555;
}

#output h1 {
  /* font-size: large; */
  color: #ffffff;
  padding: 14px 0;
  margin: 0 20px;
  word-wrap: break-word;
}

#actions p {
  padding: 14px 0;
  margin: 0 20px;
  color: #555;
}

input {
  padding: 10px 20px;
  box-sizing: border-box;
  border: 0;
  background: #eee;
  display: block;
  width: 100%;
}

button {
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}
